.roomsHero {
    min-height: calc(100vh - 66px);
    background: url("../../images/defaultBcg.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../images/room-2.jpg");
    min-height: 60vh;
  }
